@model IEnumerable<DTOs.Conjunto.ResultadoBusquedaConjuntos>
@{
	Layout = "";
}

<div class="card card-flush">
	<div class="card card-body">
		@await Html.PartialAsync("_MensajesBusqueda", Model.Count())

		@if (Model.Count() > 0)
		{
			<table border="1" id="idTablaConjutos" class="table align-middle table-row-dashed fs-6 gy-5">
				<thead>
					<tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
						<th>
							<span class="badge badge-light text-dark">Nombre</span>
						</th>
						<th>
							<span class="badge badge-light text-dark">RUC</span>
						</th>
						<th>
							<span class="badge badge-light text-dark">Télefono</span>
						</th>
						<th>
							<span class="badge badge-light text-dark">Correo</span>
						</th>
						<th>
							<span class="badge badge-light text-dark">
								Acción
							</span>
						</th>
					</tr>
				</thead>
				<tbody class="fw-bold text-gray-600">
					@if (Model != null)
					{
						foreach (var conjunto in Model)
						{
							<tr>
								<td data-title="Documento">
									<span>@conjunto.NombreConjunto</span>
								</td>
								<td data-title="RUC">
									<span>@conjunto.RucConjunto</span>
								</td>
								<td data-title="Télefono">
									<span>@conjunto.TelefonoConjunto</span>
								</td>
								<td data-title="Correo">
									<span>@conjunto.MailConjunto</span>
								</td>
								<td data-title="Acción">
									<div>
										<a href="~/C_Conjuntos/EditarConjuntos?idConjuntos=@conjunto.IdConjunto" target="_self" class="badge badge-light-primary">Editar<i class="far fa-edit" style="color: #009ef7"></i></a>
									</div>
									<div>
										<a href="~/C_Conjuntos/EliminarConjuntos?idConjuntos=@conjunto.IdConjunto" target="_self" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt" style="color: #ff0000"></i></a>
									</div>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		}
	</div>
</div>
