@model DTOs.Proveedor.ProveedorDTOCrear

<div class="card mb-10 mb-xl-12">
    <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="fw-bolder m-0 text-gray-800">
                        <i class="fa-solid fa-building-wheat text-primary fs-2qx"></i>
                        Crear Proveedor
                    </h3>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success" asp-action="AdministrarProveedor"><i class="fas fa-undo-alt"></i><b> Ver lista</b></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body border-top">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row p-lg-10">

            <form asp-action="CrearProveedor" id="FormCrear">
                <input type="hidden" asp-for="StatusProveedor" value="true" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="NombreProveedor" class="control-label">
                                            Conjunto
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    @Html.DropDownList("IdConjunto", ViewData["listaConjuntos"] as SelectList, htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="NombreProveedor" class="control-label">
                                            Nombre/Razón Social
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input type="text" asp-for="NombreProveedor" class="form-control form-control-solid" placeholder="Nombre/Razón Social" required="required" maxlength="60" />
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="NombreProveedor" class="control-label">
                                            RUC
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input asp-for="RucProveedor" class="form-control form-control-solid" maxlength="70" required="required" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="NombreProveedor" class="control-label">
                                            Provincia:
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    @Html.DropDownList("idProvincia", ViewData["listaProvincias"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required", @onchange="consultarDesdeAPIControlador('idProvincia', 'IdCiudadProveedor', 'C_Catalogo', 'cargarListaDropDownCiudades', 'idPadreCatalogoCiudad')" })
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="TelefonoPersona" class="control-label">
                                            Teléfono
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input asp-for="TelefonosProveedor" class="form-control form-control-solid" maxlength="50" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label asp-for="IdCiudadProveedor" class="control-label">
                                            Ciudad
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <select id="IdCiudadProveedor" name="IdCiudadProveedor" aria-label = "Selecionar", data-control = "select2" data-placeholder = "Seleccionar" class = "form-select form-select-solid form-select-lg" required = "required">
                                        <option>Seleccione una provincia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mb-12">
                            <div class="col-xl-4">
                                <div class="fs-6 fw-bold mt-2 mb-3">
                                    <label for="SaldoAntProveedor" class="control-label">
                                        Persona Contacto
                                        @await Html.PartialAsync("_AsteriscoObligatorio")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-8 fv-row">
                                <input asp-for="ContactoProveedor" class="form-control form-control-solid" maxlength="50" required="required" />
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="CelularPersona" class="control-label">
                                            EMail
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input asp-for="EMailProveedor" class="form-control form-control-solid" maxlength="50" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mb-12">
                                <div class="col-xl-4">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="SaldoAntProveedor" class="control-label">
                                            Saldo Anterior
                                            @await Html.PartialAsync("_AsteriscoObligatorio")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input asp-for="SaldoAntProveedor" class="form-control form-control-solid" maxlength="50" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-12">
                        <div class="row mb-12">
                            <div class="col-xl-12 mt-6">
                                <div class="fs-6 fw-bold mt-8">
                                    <label class="control-label" for="ObservacionPersona">
                                        Dirección:
                                        @await Html.PartialAsync("_AsteriscoObligatorio")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-12">
                            <div class="col-xl-12 fv-row">
                                <textarea asp-for="DirecProveedor" class="form-control form-control-solid" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 fv-row">
                        <center>
                            <button type="button" onclick="sendFormAjax(this, 'FormCrear', undefined,undefined,'btn_CrearProveedor')" class="btn btn-primary" id="btn_CrearProveedor">
                                <span class="indicator-label">
                                    <i class="far fa-save  fs-md-2qx"></i>Guardar Nuevo
                                </span>
                                <span class="indicator-progress">
                                    Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </center>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const select = document.querySelector('#IdConjunto');
            if (select.options.length === 1) {
                select.selectedIndex = 0;
            }
        })

    </script>
}