@model DTOs.AreaComunal.BusquedaAreaComunal
@using Utilitarios;

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">

        <div class="card mb-xl-3 mb-3">

            <div class="card-header card-header-stretch encabezadoTablasNegroPlantilla ">
                <div class="card-title d-flex align-items-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="fw-bolder m-0" style="color:white;">
                                <i class="fa-solid fa-bars-progress fs-2qx"></i>
                                Reservar de Áreas Comunales
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 ">
                <div class="card card-flush h-xl-100">
                    <div class="card-body pt-6">
                        <div class="row">
                            <div class="col-md-4 h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                <b><label>Conjunto: </label></b>
                                @Html.DropDownList("IdConjunto", ViewData["ListaConjustosAcceso"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg",@onchange="buscarAreaComunalPorConjuntoselectConjunto('IdConjunto','IdAreaComunal')"} )
                            </div>
                            <div class="col-md-4 h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                <b><label>Areas comunales disponibles: </label></b>
                                @Html.DropDownList("IdAreaComunal", ViewData["listaAreasComunales"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @onchange="GetTasks()"})
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!--begin::Content-->
            <div id="kt_app_content" class="app-content flex-column-fluid">
                <!--begin::Content container-->
                <div id="kt_app_content_container" class="app-container container-xxl">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card header-->
                        <div class="card-header">
                            <h2 class="card-title fw-bold">Calendario</h2>
                            <div class="card-toolbar">
                                <button class="btn btn-flex btn-primary" data-kt-calendar="add" data-bs-toggle="modal" data-bs-target="#kt_modal_nuevo_event">
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                                    <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->Añadir Evento
                                </button>
                            </div>
                        </div>

                        <div class="card-body">

                            <div id="divErrors" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>
                                    <span id="errors"></span>
                                </strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div id='calendar'></div>
                                    </div>

                                    <div class="modal fade" id="kt_modal_add_event" tabindex="-1" aria-hidden="true">
                                        <!--begin::Modal dialog-->
                                        <div class="modal-dialog modal-dialog-centered mw-650px">
                                            <!--begin::Modal content-->
                                            <div class="modal-content">
                                    <div class="col-md-4" id="informacion">
                                        <div class="card" style="width: 40rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    Detalle
                                                    <input id="IdReservaArea" hidden>
                                                    <input id="IdAreaComunal" hidden>
                                                </h5>
                                                <p class="card-text">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Nombre</label>
                                                            <input id="Nombre" class="form-control" value="-" >
                                                                        <input id="IdPersona" class="form-control" hidden>
                                                        </div>
                                                    </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label>Apellido</label>
                                                                        <input id="Apellido" class="form-control" value="-">
                                                                    </div>
                                                                </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Detalle</label>
                                                            <textarea id="Observacion" class="form-control" value="-" ></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Fecha Reserva</label>
                                                            <input id="FechaReserva" class="form-control" value="-" >
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Fecha Expira</label>
                                                            <input id="FechaFin" class="form-control" value="-" >
                                                        </div>
                                                    </div>
                                                                <div class="modal-footer">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                          
                                                        </div>
                                                                        <div class="col-md-6">
                                                                           
                                                                            <input type="button" id="Update" name="Update" class="btn btn-primary" value="Update" style="display:none">
                                                                        </div>
                                                    </div>
                                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="kt_modal_nuevo_event" tabindex="-1" aria-hidden="true">
                                        <!--begin::Modal dialog-->
                                        <div class="modal-dialog modal-dialog-centered mw-650px">
                                            <!--begin::Modal content-->
                                            <div class="modal-content">
                                                <div class="col-md-4" id="informacion">
                                                    <div class="card" style="width: 40rem;">
                                                        <div class="card-body">
                                                            <h5 class="card-title">
                                                                Detalle     
                                                            </h5>
                                                            <p class="card-text">
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label>Nombre</label>
                                                                        <input id="NombreNuevo" class="form-control" value="-">                                                                       
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label>Apellido</label>
                                                                        <input id="ApellidoNuevo" class="form-control" value="-">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label>Detalle</label>
                                                                        <textarea id="ObservacionNuevo" class="form-control" value="-"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label>Fecha Reserva</label>
                                                                        <input id="FechaReservaNuevo" class="form-control" value="-">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label>Fecha Expira</label>
                                                                        <input id="FechaFinNuevo" class="form-control" value="-">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                                                                           
                                                                        </div>
                                                                        <div class="col-md-6">                                                                           
                                                                            <input type="button" id="Nuevo" name="Nuevo" class="btn btn-primary" value="Nuevo">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>                        
                        <!--end::Card body-->
                    </div>

                   

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/gestionarareacomunal.js"></script>


    <script>

        $("#FechaReserva").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
        $("#FechaFin").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });

        $("#FechaReservaNuevo").flatpickr({
            enableTime: true,
            defaultDate: "today",
            dateFormat: "Y-m-d H:i",
        });
        $("#FechaFinNuevo").flatpickr({
            enableTime: true,
            defaultDate: "today",
            dateFormat: "Y-m-d H:i",
        });

        var projectId = document.getElementById("IdAreaComunal")
        let idSeleccion = projectId.options[projectId.selectedIndex].value;
         $(function () {
             ocultaDivInformacion();
        //     GetTasks(projectId);

             $('#Update').click(function () {
                UpdateTask();
             });

            $('#Nuevo').click(function () {
                NuevoTask();
            });
         });

        function ocultaDivInformacion() {
            var x = document.getElementById("informacion");
            x.style.display = "none";            
        }
        function mostrarDivInformacion() {
            var x = document.getElementById("informacion");
            x.style.display = "block";

            //const myModal = document.getElementById('kt_modal_add_event')
           // const myInput = document.getElementById('myInput')
           // myModal.modal('show')

           // const myModal = new bootstrap.Modal('#kt_modal_add_event', {
            //    keyboard: false
           // });
            $('#kt_modal_add_event').modal('show');
        }

        function UpdateTask() {
            var json = {
                'IdReservaArea': $('#IdReservaArea').val(),
                'IdAreaComunal': $('#IdAreaComunal').val(),
                'Nombre': $('#Nombre').val(),
                'Apellido': $('#Apellido').val(),
                'Observaciones': $('#Observacion').val(),
                'FechaReserva': $('#FechaReserva').val(),
                'FechaFin': $('#FechaFin').val(),
                'IdPersona': $('#IdPersona').val()                
            };

            $.post("/C_ReservaAreas/UpdateReserva", json).done(function (data) {
                var isSuccessful = data.isSuccessful;

                if (isSuccessful) {
                    Swal.fire({
                        title: 'ok',
                        text: "Se almaceno correctamente!.",
                        icon: 'success',
                    });
                    window.location = '/C_ReservaAreas/ReservaAreasComunales1';
                } else {
                    var errors = data.Errors;
                    displayValidationErrors(errors);
                }
            });
        }

        function NuevoTask() {
            var projectId = document.getElementById("IdAreaComunal")
            let idSeleccion = projectId.options[projectId.selectedIndex].value;
            var json = {
                'IdAreaComunal': idSeleccion,
                'Nombre': $('#NombreNuevo').val(),
                'Apellido': $('#ApellidoNuevo').val(),
                'Observaciones': $('#ObservacionNuevo').val(),
                'FechaReserva': $('#FechaReservaNuevo').val(),
                'FechaFin': $('#FechaFinNuevo').val()               
            };

            $.post("/C_ReservaAreas/NuevoReserva", json).done(function (data) {
                var isSuccessful = data.isSuccessful;

                if (isSuccessful) {                   
                    Swal.fire({
                        title: 'ok',
                        text: "Se almaceno correctamente!.",
                        icon: 'success',
                    });
                    window.location = '/C_ReservaAreas/ReservaAreasComunales1';
                } else {
                    var errors = data.Errors;
                    displayValidationErrors(errors);
                }
            });
        }

        function GetTasks() {
            var projectId = document.getElementById("IdAreaComunal")
            let idSeleccion = projectId.options[projectId.selectedIndex].value;
            var events = [];            

            $.post(pathConsola + "/C_ReservaAreas/obtenerReserva?idAreaComunal=" + idSeleccion).done(function (data) {
                var isSuccessful = data.isSuccessful;

                if (isSuccessful) {
                    var json = data.listTasksCalendar;
                    if (json.length > 0) { 
                    for (var i = 0; i < json.length; i++) {                        
                        events.push({
                                title: json[i].nombre,
                                start: moment(json[i].fechaReserva).format("YYYY-MM-DD HH:mm:ss"),
                                end: moment(json[i].fechaFin).format("YYYY-MM-DD HH:mm:ss"),
                                id: json[i].idReservaArea,
                                 color: "#FFFF00",
                                    allDay: true,
                                textColor: "#000000"
                        });
                    }
                    }

                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        headerToolbar: {
                            left: "prev,next today",
                            center: "title",
                            right: "dayGridMonth,timeGridWeek,timeGridDay"
                        },
                        navLinks: true,
                        events: events,
                        eventClick: function (eventObj) {
                            GetTask(eventObj.event.id);
                        }
                    });

                    calendar.render();
                } else {
                    var errors = data.Errors;
                    displayValidationErrors(errors);
                }
            });
        }

        function GetTask(id) {
            $.post("/C_ReservaAreas/obtenerReservaPorId?id=" + id).done(function (data) {
                var isSuccessful = data.isSuccessful;

                if (isSuccessful) {
                    var task = data.task;

                    $('#IdReservaArea').val(task.idReservaArea);
                    $('#IdAreaComunal').val(task.idAreaComunal);
                    $('#Nombre').val(task.nombre);
                    $('#Apellido').val(task.apellido),
                    $('#Observacion').val(task.observaciones);
                    $('#FechaReserva').val(task.fechaReserva);
                    $('#FechaFin').val(task.fechaFin);
                    $('#IdPersona').val(task.idPersona);

                    mostrarDivInformacion();

                  //  $('#State').val(task.State);
                   // $('#Activity').val(task.Activity);
                   // $('#Priority').val(task.Priority);

                    //var remainingWork = $("#RemainingWork");
                   // remainingWork.empty();

                    // for (var i = task.RemainingWork; i >= 0; i--) {
                    //     var option = $("<option />");
                    //     option.html(i);
                    //     option.val(i);
                    //     remainingWork.append(option);
                    // }

                    //remainingWork.val(task.RemainingWork);

                    //var states = $("#StateId");
                   // states.empty();

                    // $(data.States).each(function () {
                    //     var option = $("<option />");
                    //     option.html(this.Name);
                    //     option.val(this.Id);
                    //     states.append(option);
                    // });

                   // states.val(task.StateId);

                   // $("#RemainingWork").prop('min', 0);
                   // $("#RemainingWork").prop('max', task.RemainingWork);

                    $('#Update').css('display', 'block');

                } else {
                    var errors = data.Errors;
                    displayValidationErrors(errors);
                }
            });
        }

        function displayValidationErrors(errors) {
            var $ul = $('<ul>');

            $ul.empty();
            $.each(errors, function (idx, errorMessage) {
                $ul.append('<li>' + errorMessage + '</li>');
            });

            $('#errors').html($ul);
            $('#divErrors').show();
        }
    </script>

    <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
}
