@model DTOs.Departamento.DepartamentoDTOCrear
@using Utilitarios;

<div class="modal fade" id="modal_Create_Departamento" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-archway text-primary fs-2qx"></i>
                    Agregar Departamento
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modal_Create_Departamento')"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row p-lg-10">

                        <form asp-action="CrearDepartamento" id="CrearDepartamentoModal">
                            @Html.HiddenFor(x => x.IdTorresCrearDepartamento)
                            @Html.HiddenFor(x => x.IdConjuntoCrearDepartamento)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                        <div class="row mb-12">
                                            <div class="col-xl-4">
                                                <div class="fs-6 fw-bold mt-2 mb-3">
                                                    <label asp-for="CodigoDepartamento" class="control-label required">
                                                        # Depart.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">
                                                <input type="text" asp-for="CodigoDepartamento" class="form-control form-control-solid" placeholder="Nombre" required="required" />
                                            </div>
                                        </div>

                                        <div class="row mb-12">
                                            <div class="col-xl-4">
                                                <div class="fs-6 fw-bold mt-2 mb-3">
                                                    <label asp-for="MetrosDepartamento" class="control-label required">
                                                        Metros Dept.
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">
                                                <input asp-for="MetrosDepartamento" class="form-control form-control-solid" required="required" type="number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="AliqDepartamento" class="control-label required">
                                                    Alicuota
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="AliqDepartamento" class="form-control form-control-solid" type="number" />
                                        </div>
                                    </div>
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="SaldoInicialAnual" class="control-label required">
                                                    Saldo Inicial
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="SaldoInicialAnual" class="form-control form-control-solid" type="number" required="required" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label for="IdTipoAreaDepartamento" class="control-label required">
                                                    Propietario
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input id="IdPropietario" type="text" class="form-control form-control-lg form-control-solid"
                                                   placeholder="Escribe"
                                                   onkeyup="autoCompletePersona('IdPropietario','contenedorResultadosBusqueda','IdPropietario','idPersonaPropietario')" />
                                            <input id="idPersonaPropietario" name="idPersonaPropietario" type="hidden" />
                                            <div id="contenedorResultadosBusqueda" class="campoAutocompletar" style="display:none">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label for="IdCondomino" class="control-label">
                                                    Condomino
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input id="IdCondomino" type="text" class="form-control form-control-lg form-control-solid"
                                                   placeholder="Escribe"
                                                   onkeyup="autoCompletePersona('IdCondomino','contendResultadosBusquedaCondomino','IdCondominoTemp','idPersonaCondomino')" />
                                            <input id="idPersonaCondomino" name="idPersonaCondomino" type="hidden" />
                                            <div id="contendResultadosBusquedaCondomino" class="campoAutocompletar" style="display:none">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label for="IdTipoAreaDepartamento" class="control-label">
                                                    Tipo Area                                                    
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 fv-row">
                                            @Html.DropDownList("IdTipoAreaDepartamento", ViewData["listaTipoAreas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                        </div>
                                        <div class="col-xl-2 fv-row">
                                            <input type="button" class="btn btn-primary" value="Agregar" onclick="anadirTipoAreaDepartamento('divAreasDepartamento','idCantidadAreasDepartamentos','IdTipoAreaDepartamento','Crear')" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="divAreasDepartamento">                                
                                <input type="hidden" id="idCantidadAreasDepartamentos" value="0" />
                            </div>

                            <div class="row">
                                <div class="col-xl-6 fv-row">
                                    <center>
                                        <button type="button" class="btn btn-primary me-12" id="btnCrearTorreoModal" onclick="sendFormAjax(this, 'CrearDepartamentoModal','resultadoListaTorres','/C_Conjuntos/RecuperarListaTorresPorConjuntoID?idConjunto=@Model.IdConjuntoCrearDepartamento','btnCrearTorreoModal','idTablaTorres','modal_Create_Departamento')">
                                            <span class="indicator-label">
                                                Agregar Departamento
                                            </span>
                                            <span class="indicator-progress">
                                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal('modal_Create_Departamento')"><i class="fas fa-times fs-md-2qx"></i> Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

}