@model DTOs.Departamento.DepartamentoDTOEditar
@using Utilitarios;

<div class="modal fade" id="modal_Gestionar_Departamento" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-archway text-primary fs-2qx"></i>
                    Gestión Departamento
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modal_Gestionar_Departamento')"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row p-lg-10">

                        @* C_DepartamentoController -> BusquedaPorDepartamentoID
                            Recupera por id el departamento en ese metodo
                        *@

                        <form asp-action="EditarDepartamento" id="FormularioEditarDepartamentoModal">                            
                            @Html.HiddenFor(x => x.IdDeptoEditar)
                            @Html.HiddenFor(x => x.IdTorresEditarDepartamento)

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                        <div class="row mb-12">
                                            <div class="col-xl-4">
                                                <div class="fs-6 fw-bold mt-2 mb-3">                                                    
                                                    <label asp-for="CoigoDeptoEditar" class="control-label required">
                                                        # Depart.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">
                                                <input type="text" asp-for="CoigoDeptoEditar" class="form-control form-control-solid" placeholder="Nombre" required="required" />
                                            </div>
                                        </div>

                                        <div class="row mb-12">
                                            <div class="col-xl-4">
                                                <div class="fs-6 fw-bold mt-2 mb-3">
                                                    <label asp-for="MetrosDeptoEditar" class="control-label required">
                                                        Metros Dept.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">
                                                <input asp-for="MetrosDeptoEditar" class="form-control form-control-solid" required="required" type="number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">                                    
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="AliqDeptoEditar" class="control-label required">
                                                    Alicuota
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="AliqDeptoEditar" class="form-control form-control-solid" type="number" required="required" required="required" />
                                        </div>
                                    </div>
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="SaldoInicialAnualEditar" class="control-label required">
                                                    Saldo Inicial
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="SaldoInicialAnualEditar" class="form-control form-control-solid" type="number" required="required" required="required" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" id="columnaTipoPersona0">
                                    <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                        <div class="row mb-12">
                                            <div class="col-xl-4">
                                                <div class="fs-6 fw-bold mt-2 mb-3">
                                                    <label class="control-label" id="labelTipoPersonaDepartamento0">
                                                        Propietario
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">     
                                                <input id="nombreTipoPersonaDepartamento0" type="text" class="form-control form-control-lg form-control-solid"
                                                       placeholder="Escribe"
                                                       onkeyup="autoCompletePersona('nombreTipoPersonaDepartamento0','resultadosBusquedaPropietarioEditar','IdPropietarioEditar','idPersonaPropietarioEditar')" />
                                                <input id="idPersonaPropietarioEditar" name="idPersonaPropietarioEditar" type="hidden" />
                                                <div id="resultadosBusquedaPropietarioEditar" class="campoAutocompletar" style="display:none">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" id="columnaTipoPersona1">
                                    <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                        <div class="row mb-12">
                                            <div class="col-xl-4">
                                                <div class="fs-6 fw-bold mt-2 mb-3">
                                                    <label class="control-label" id="labelTipoPersonaDepartamento1">
                                                        Condomino
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">    
                                                <input id="nombreTipoPersonaDepartamento1" type="text" class="form-control form-control-lg form-control-solid"
                                                       placeholder="Escribe"
                                                       onkeyup="autoCompletePersona('nombreTipoPersonaDepartamento1','resultadosBusquedaCondominoEditar','IdCondominoTempEditar','idPersonaCondominoEditar')" />

                                                <input id="idPersonaCondominoEditar" name="idPersonaCondominoEditar" type="hidden" />
                                                <div id="resultadosBusquedaCondominoEditar" class="campoAutocompletar" style="display:none">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" id="columnaTipoPersona0">
                                    <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                        <div class="row mb-12">
                                            <div class="col-xl-2">
                                                <div class="fs-6 fw-bold mt-2 mb-3">
                                                    <label class="control-label" id="labelTipoPersonaDepartamento0">
                                                        Cuenta
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 fv-row">     
                                                <input id="DatosCuentaDepartamento" type="text" class="form-control form-control-lg form-control-solid" disabled="disabled" />
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-12">
                                        <div class="col-xl-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label for="IdTipoAreaDepartamento" class="control-label">
                                                    Tipo Area
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 fv-row">
                                            @Html.DropDownList("IdTipoAreaDepartamentoEditar", ViewData["listaTipoAreas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                        </div>
                                        <div class="col-xl-2 fv-row">
                                            <input type="button" class="btn btn-primary" value="Agregar" onclick="anadirTipoAreaDepartamento('divAreasDepartamentoEditar','idCantidadAreasDepartamentosEditar','IdTipoAreaDepartamentoEditar','Editar')" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="idCantidadAreasDepartamentosEditar" value="0" />
                            <div class="row" id="divAreasDepartamentoEditar">
                                
                            </div>

                        

                            <div class="row">
                                <div class="col-xl-6 fv-row">
                                    <center>
                                        <button type="button" class="btn btn-primary me-12" id="btnModalDepartamentoGestionar">
                                            <span class="indicator-label" id="btnModalDepartamentoGestionarSpan">
                                                Editar
                                            </span>
                                            <span class="indicator-progress">
                                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal('modal_Gestionar_Departamento')"><i class="fas fa-times fs-md-2qx"></i> Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

}