@model DTOs.AreaComunal.AreaComunalDTOCompleto

<div class="card mb-10 mb-xl-12">
    <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="fw-bolder m-0 text-gray-800">
                        <i class="fa-solid fa-building-wheat text-primary fs-2qx"></i>
                        Editar Comunicado
                    </h3>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success" href="~/C_Conjuntos/EditarConjuntos?idConjuntos=@Model.IdConjunto"><i class="fas fa-undo-alt"></i><b> Ver lista</b></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body border-top">

        <div class="row p-lg-10">
            <form method="post" id="formularioEditarGestionarAreaComunal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-12">
                            <div class="col-xl-4">
                                <div class="fs-6 fw-bold">
                                    <label asp-for="NombreArea" class="control-label">
                                        Nombre
                                        @await Html.PartialAsync("_AsteriscoObligatorio")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-8 fv-row">
                                <input type="text" asp-for="NombreArea" class="form-control form-control-solid" placeholder="Nombre" required="required" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-12">
                            <div class="col-xl-4">
                                <div class="fs-6 fw-bold">
                                    <label asp-for="HoraInicio" class="control-label">
                                        Hora Inicio:
                                        @await Html.PartialAsync("_AsteriscoObligatorio")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-8 fv-row">
                                <input type="text" asp-for="HoraInicio" class="form-control form-control-solid" placeholder="Hora Inicio" required="required" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mb-12">
                            <div class="col-xl-4">
                                <div class="fs-6 fw-bold">
                                    <label for="HoraFin" class="control-label">
                                        Hora Fin
                                        @await Html.PartialAsync("_AsteriscoObligatorio")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-8 fv-row">
                                <input type="text" asp-for="HoraFin" class="form-control form-control-solid" placeholder="Hora Fin" required="required" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-12">
                            <div class="col-xl-4">
                                <div class="fs-6 fw-bold">
                                    <label for="HoraFin" class="control-label">
                                        Estado
                                        @await Html.PartialAsync("_AsteriscoObligatorio")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-8 fv-row">
                                <input type="hidden" asp-for="Estado" />
                                <label>
                                    <input type="radio" class="btn-check" name="EstadoTemporal" value="true" onclick="asignarCampoBanderaModal('EstadoEditar','True')" />
                                    <span class="btn btn btn-color-muted  btn-active-success fw-bolder px-md-2">Activado</span>
                                </label>

                                <label>
                                    <input type="radio" class="btn-check" name="EstadoTemporal" value="false" onclick="asignarCampoBanderaModal('EstadoEditar','False')" />
                                    <span class="btn btn btn-color-muted  btn-active-primary fw-bolder px-md-2">Desactivado</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row mb-12">
                            <div class="col-xl-2">
                                <div class="fs-6 fw-bold">
                                    <label asp-for="Observacion" class="control-label">
                                        Observación
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-10 fv-row">
                                <textarea asp-for="Observacion" class="form-control form-control-solid"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <button type="button" class="btn btn-primary me-12" id="btnEditarGestionarAreaComunal">
                                <span class="indicator-label" id="btnEditarGestionarAreaComunalSpan">
                                    Guarda Cambios
                                </span>
                                <span class="indicator-progress">
                                    Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal('ModalGestionarAreaComunal')"><i class="fas fa-times fs-md-2qx"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>




