@model DTOs.Torre.TorreDTOCrear

@{
    Layout = "";
}

<div class="modal fade" id="modal_Create_Torre" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-archway text-primary fs-2qx"></i>
                    Agregar Torre
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modal_Create_Torre')"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form asp-action="CrearTorres" asp-controller="C_Torres" method="post" id="formularioCrearTorreModal" enctype="multipart/form-data">
                       
                        <input asp-for="IdConjunto" type="hidden" />

                        <div class="row">
                            <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                <div class="row mb-12">
                                    <div class="col-md-2">
                                        <div class="fs-6 fw-bold mt-2 mb-3">
                                            <label asp-for="NombreTorres" class="control-label">
                                                Torre:
                                                @await Html.PartialAsync("_AsteriscoObligatorio")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xl-10 fv-row">
                                        <input asp-for="NombreTorres" class="form-control form-control-solid" required="required" placeholder="Nombre Torre" maxlength="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <center>
                                    <button type="button" class="btn btn-primary me-12" id="btnCrearTorreoModal" onclick="sendFormAjax(this, 'formularioCrearTorreModal','resultadoListaTorres','/C_Conjuntos/RecuperarListaTorresPorConjutoID?idConjuto=@Model.IdConjunto','btnCrearTorreoModal','idTablaTorres','modal_Create_Torre')">
                                        <span class="indicator-label">
                                            Agregar Torre
                                        </span>
                                        <span class="indicator-progress">
                                            Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </center>

                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal('modal_Create_Torre')"><i class="fas fa-times fs-md-2qx"></i> Cerrar</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



